[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "mysite/themes/hugo-future-imperfect-slim"]
	path = mysite/themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
